<html>
  <head>
    <title>TykeTV</title>
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/sweetalert.css">
    <link href="../stylesheets/ParentHistory_3.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascripts/sweetalert.min.js"></script>
    <script src="../javascripts/delete.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>delete account</h1>
    <p>Entire account</p>
    <button id="delete-accountButton">Yes</button>
    <p>Click on image to remove resp. profile </p>
    <ul>
      <% for(var i=0; i<images.length; i++) {%>
        <li class="childInfo">
          <img class="img-circle" src='<%= images[i] %>' alt="<%= names[i] %>" title="Click to view <%= names[i] %>'s activity"/>
        </li>
      <% } %>
    </ul>
  </body>
</html>
