<html>
  <head>
    <title>TykeTV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascripts/test.js"></script>
  </head>
  <body id="history-body">
    <div class="ng-element el-box text-editor-light line-height-hack"  style="opacity: 1;  border-width: 10px; border-radius: 20px; border-color: rgb(255, 255, 255); border-style: solid; background-color: rgb(255, 243, 187); background-image: none; background-size: auto auto; background-repeat: repeat; background-position: center center; width: 200px; height: 100px; transform: rotate(0deg) translate(287px, 179px) rotate(0deg);">
      <p style="text-align: center;"></p>
    </div>
    <div class="content-container">
      <ul id="kids_links">
        <li><a id="kid1" href="#"><img src="../images/kid1.jpeg"/></a></li>
        <li><a id="kid2" href="#"><img src="../images/kid2.jpeg"/></a></li>
      </ul>
      <div id="activity-container">
        <p> Recent Views</p>
      </div>
    </div>
  </body>
</html>
