<html>
  <head>
    <title>TykeTV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascripts/test.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="logo">Tyke TV</h1>
      <img id="mascot" src="../images/dragon_baby_happy.png"/>
      <div class="content-container">
          <div class="log-in">
            <p>Log in!</p>

              <div class="form-group">
                <input type="email" class="form-control" name="email" id="login-email" placeholder="Enter email">
                <input type="password" class="form-control" name="pwd" id="login-pwd" placeholder="Enter password">
              </div>
              <button type="button" class="btn btn-default" id="login-button">ENTER</button>
            <p>Not a friend of Tyke? <a href="signup.htm">Sign up now!</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
