<!DOCTYPE html>
<html>
  <head>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet">
    <title>TykeTV</title>
    <link href="../stylesheets/Selectaccount.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../javascripts/dropdown1.js"></script>
    <script src="../javascripts/Mascotchange.js"></script>
    <script src="../javascripts/selectaccount.js"></script>
  </head>
  <body>
    <div id="page">
	     <div class="header">
		       <h1 class="title"><a href="home.htm">Tyke TV </a></h1>
		       <div class="dragon-logo">
			         <img id="dragon-img" class="img-responsive" src="https://res.cloudinary.com/dqn5eqmwt/image/upload/v1492759791/dragon_baby_1_uet7it.png" />
		        </div>
		        <div class="menu">
		            <img onclick="myFunction()" id="menu_img" src="../images/Menu.svg">
		            <div id="myDropdown" class="dropdown-content">
                  <a id="Edprof">Edit Profile</a>
		              <a id="Deprof">Delete Profile</a>
                  <a id="Chistory">Check History</a>
                  <a id="Bevents">Book Events</a>
		              <a id="Getout">Logout</a>
		            </div>
		        </div>
	      </div>
	      <div class="section">
		         <h1> Click on your profile to start the fun! </h1>
	                <div class="left_section">
		                  <img id="parents-img" src="../images/dragon_parent_circle.png" alt="Tyke the Dragon"/>
		                  <p> Parents </p>
	                 </div>
	                 <div class="right_section">
		                  <div id="checkActivity" class="tabcontent">
			                    <ul>
                            <div class="top_left_section">
					                     <li class="childInfo">
						                      <img id="kid1-img" class="img-circle" src="../images/dragon_gray.png" >
						                      <p><a><span id="kid1-name">Sarah1</span></a></p></li>
                              </div>
                            <div class="top_right_section">
					                      <li class="childInfo">
						                        <img id="kid2-img" class="img-circle" src="../images/dragon_gray.png" >
						                         <p><a><span id="kid2-name">Sarah2</span></a></p>
					                        </li>
				                    </div>
					                  <div class="bottom_left_section">
					                         <li class="childInfo">
						                           <img id="kid3-img" class="img-circle" src="../images/dragon_gray.png" >
						                           <p><a><span id="kid3-name">Sarah3</span></a></p>
                                     </li>
					                  </div>
					                  <div class="bottom_right_section">
					                        <li class="childInfo">
						                         <img id="kid4-img" class="img-circle" src="../images/dragon_gray.png" >
						                         <p><a><span id="kid4-name">Sarah4</span></a></p>
                                   </li>
					                   </div>
			                   </ul>
		                 </div>
	               </div>
	        </div>
	        <div class="footer">
     		         <p>Copyright@TykeTV.com</p>
 	        </div>
     </div>
  </body>
</html>
