<html>
  <head>
    <title>Tyke TV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascripts/signedout.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/Signedout.css" />
    <style>
      .mySlides {display:none;}
    </style>
  </head>
  <body>
    <div id="page">
	    <div class="header">
        <h1 class="title"><a href="index.htm">Tyke TV</a></h1>

<img src="../images/dragon_baby_happy.png" alt="Tyke the Dragon"/>
	    </div>


      <div class="section">

<h1 id="msg"> You have successfully signed out </h1>
        <img src="../images/dragon_parent_2.png" alt="Tyke the Dragon"/>

<button type="button" class="btn-default" > <p class="enter"><a href="/index.htm">LOG IN AGAIN</a></p></button>

    </div>
	 </div>
 	 <div class="footer">
     <p>Copyright@TykeTV.com</p>
   </div>
  </body>
</html>
