* {
	margin: 0 auto;
	padding: 0;
}
body{
	background-color: #7de88a;
	margin: 0;
	height: auto;
	width: auto;
}
#page{
	background-color: #7de88a;
	margin: 36px;
	width: 960px;
	height: 900px;
}


.header{
	height: 10%;
	background-color: #7de88a;
	width: 80%;
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
}


.header img {
	height:180px; /* 180/90 */
  	max-width:180px;
  	top:10px;
  	right:300px;
	position: absolute;
}


.title {
	font-size: 4em; /* 48/16 default font size */
	color: #c43396;

	font-style: italic;
	font-family: Chewy;

	margin: 0.555556%; /* 5/900 —> width of container*/

}

.nav{

	margin: 0;
	padding: 0;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

ul {

	list-style-type: none;

	margin: 0;

	padding: 0;

	overflow: hidden;

	background-color: #7de88a;

}


li {

	float: left;

}


li a {

	display: block;

	color: white;

	text-align: center;

	padding: .5px 10px;

	text-decoration: none;

	font-family: Chewy;

	font-size: 1.5em;
}


li a:hover {

	color: #e8a7e5;


}

.section{
	width: 80%;  /* 585px/900 */
	height: 85%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #e8a7e5;
  	border: 15px #FFFFFF solid;
  	border-radius: 3.448276%;  /* 30/870 */
}
.section h1 {
	margin: 2.604167%; /* 25/960 */
	font-family: Chewy;
	font-size: 1.875em; /*30px*/
	color: #ffffff;
	font-style: italic;
	letter-spacing: 0.05em;
}

.section p {
	margin: 2.604167%; /* 25/960 */
	color: white;
	font-family: Chewy;
	font-size: 1.25em; /*20px*/
}


.sectiontable {
	color: white;
	font-family: Chewy;
	font-size: 1.25em; /*25px*/
	float: left;
	width: 50%; /* 450px/900 */
}
.tableheaderfont {
	font-family: Chewy;
	font-size: 0.666666666666666666666em;
	margin-left: 0;
	padding-left: 0;
	color: #ffffff;
	font-style: italic;
	letter-spacing: 0.05em;
}

.section table td {
	padding: .75%;
	padding-left: 1.5%;
}

.teenimage {
	width: 18.27586%; /* 159px; */
	height: 19.11111%; /* 172px; */
	transform: rotate(354deg);
	margin-top: 0;
	padding-top: 5%;
	float: right;
	padding-right: 5%;

}
.textbox {
	width: 100%;
	height: 50%;
	border: 5px solid #c7c7c7;
	border-radius: 10px;
	background-color: #ffffff;
  font-family: Chewy;
  font-size: 0.80em;
	color:#000000;
}

/* Dropdown Button */
.dropbtn {
    	cursor: pointer;
	width: 65%;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	font-family: Chewy;
	font-size: .9em;
	color: #666666;
	background-color: white;
	text-align: center;
	margin-top: 5%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #7de88a;
}

.btn-default{
	width: 100px; /* 130px */
	border: 3px solid #04821b;
	border-radius: 10px;
	background-image: radial-gradient(ellipse at center, #0af58b 1%, #24ab46 100% );
}
.btn-default:hover, .btn-default:focus {
	background-image: none;
	background-color: #7de88a
}
p.enter {
	font-family: Chewy;
	font-size: 2em;
	color: #c43396;
	font-style: italic;
	margin: 5%;
}

.footer {
	height: 10%;
	background-color: #7de88a;
	width: 100%; /* 100% of the page container */
	float: left;
}

.footer p {
	margin: 2.604167%; /* 25/960 */
	color: white;
	font-family: chewy;
	text-align: center;
}


img, embed, object, video {
	max-width: 100%;
}




@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 768px){

#page
{
	background-color: #7de88a;
	background-color: red;
	width: 100%; /* 960/1140 */
	height: 900px; /* 900px */
}.header

img {
	height:90px; /* 180/90 */
  	max-width:90px;
  	z-index:0;
  	top:75px;
	left: 400px;
}


.teenimage img{
	visibility: hidden;
}


}


.section {width: 75%;}




@media only screen and (max-width: 480px) {

.tableheaderfont {
	font-size: 10px;
}
.sectiontable {
	font-size: 20px;
}
.textbox {
	width: 70%;
}
.btn-default{
	margin-left: 15px;
}
.nav{margin-top: 10px;}
.dropbtn {
	width: 65%;
	font-size: .8em;
	margin-top: 2%;
}

#page{
	margin: 0;
	background-color: #7de88a;
	background-color:blue;
	width: auto;
	height: auto;
}
.section {width: 75%; height:85%; background-color:red;}
.header

img {
	height:90px; /* 180/90 */
  	max-width:90px;
  	z-index:0;
	top:10px;
	left: 300px;
	position: absolute;
}



.title {
	font-size: 3em; /* 48/16 default font size */
}


.teenimage
img{

visibility: hidden;
}

}
